fj-doc-freemarker/src/main/resources/config_fm_xsd/freemarker-doc-process-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

	/*
	 * @(#)freemarker-doc-process-1-0.xsd 
	 *
	 * @project    : fj-doc-freemarker
	 * @creation   : 2023-07-12
	 * @version    : 1.0.0-rc.6 (2024-10-22)
	 *
	 * XSD for Freemarker Doc Process Configuration
	 */

	Sample doc : 	
	
<doc
	xmlns="https://freemarkerdocprocess.fugerit.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://freemarkerdocprocess.fugerit.org https://www.fugerit.org/data/java/doc/xsd/freemarker-doc-process-1-0.xsd" > 	
</doc>	
	
-->
<xsd:schema xmlns='http://www.w3.org/2000/10/XMLSchema'
	targetNamespace='https://freemarkerdocprocess.fugerit.org'
	xmlns:fdp='https://freemarkerdocprocess.fugerit.org' xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name='freemarker-doc-process-config'>
		<xsd:annotation>
			<xsd:documentation>This is the root element of freemarker-doc-process configuration file</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='fdp:docHandlerConfig' minOccurs="0" maxOccurs="1" />
				<xsd:element ref='fdp:docChain' minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="validating" type="xsd:boolean" use="optional" default="false">
				<xsd:annotation>
					<xsd:documentation>If set to 'true' the FreemarkerDocProcessConfig will try to validate the source. (since 8.9.1)</xsd:documentation>
					<xsd:documentation>NOTE: if active, source reader will be buffered, potentially resulting in higher memory usage.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="failOnValidate" type="xsd:boolean" use="optional" default="false">
				<xsd:annotation>
					<xsd:documentation>If set to 'true' the FreemarkerDocProcessConfig will fail in case of validation errors, if 'false' will just print the result as warning. (since 8.9.1)</xsd:documentation>
					<xsd:documentation>NOTE: 'validating' is set to true, this attribute is ignored.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="cleanSource" type="xsd:boolean" use="optional" default="false">
				<xsd:annotation>
					<xsd:documentation>If set to 'true' the FreemarkerDocProcessConfig will try to clean the source (i.e. DocXmlUtils.cleanXml()). (since 8.9.1)</xsd:documentation>
					<xsd:documentation>NOTE: if active, source reader will be buffered, potentially resulting in higher memory usage.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name='docHandlerConfig' type="fdp:docHandlerConfigType">
		<xsd:annotation>
			<xsd:documentation>Configuration for DocHandlerFacade containing all needed DocTypeHandlers</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="docHandlerConfigType">
		<xsd:sequence>
			<xsd:element ref="fdp:docHandler" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="registerById" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation>If set to true, the handlers will be registered by id</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>	
		<xsd:attribute name="allowDuplicatedId" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation>If set to true, duplicated id will be allowed (the last one will overwrite the others)</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>		
	</xsd:complexType>	
	
	<xsd:element name='docHandler' type="fdp:docHandlerType">
		<xsd:annotation>
			<xsd:documentation>Configuration of a specific DocTypeHandler as FactoryType</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="docHandlerType">
		<xsd:sequence>
			<xsd:element ref="fdp:docHandlerCustomConfig" minOccurs="0" maxOccurs="1">
			</xsd:element>			
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Id of the handler</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>
		<xsd:attribute name="info" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Type of the handler</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>				
		<xsd:attribute name="type" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Type of the handler (fully qualified class name implementing DocTypeHandler)</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>
		<xsd:attribute name="unsafe" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation>'true' is the handler is too be considered unsafe </xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>
		<xsd:attribute name="unsafeMode" type="xsd:string" use="optional" default="log-message">
			<xsd:annotation>
				<xsd:documentation>Unsafe handling message, ( 'log-message' for simple message or 'log-trace' for full trace) </xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>																						
	</xsd:complexType>				
					
	<xsd:element name='docHandlerCustomConfig' type="fdp:docHandlerCustomConfigType">
		<xsd:annotation>
			<xsd:documentation>Custom configuration of a doc handler, it can contains unchecked attributes and child elements.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>					
					
	<xsd:complexType name="docHandlerCustomConfigType">	
		<xsd:sequence>
      		<xsd:any minOccurs="0" processContents="skip"/>
    	</xsd:sequence>			
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>		
	
	<xsd:element name='docChain' type="fdp:docChainType">
		<xsd:annotation>
			<xsd:documentation>A document processing chain</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="docChainType">
		<xsd:sequence>
			<xsd:element ref="fdp:chainStep" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>A chain ID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="parent" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>A chain parent (will inherits all the chainStep)</xsd:documentation>
			</xsd:annotation>		
		</xsd:attribute>
		<xsd:attribute name="sourceType" type="fdp:sourceType" use="optional" default="xml">
			<xsd:annotation>
				<xsd:documentation>The source type : xml (default), json, yaml or kotlin. (since 8.9.6)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>	

	<xsd:element name='chainStep' type="fdp:chainStepType">
		<xsd:annotation>
			<xsd:documentation>A step in a docChain</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="chainStepType">
		<xsd:choice>
			<xsd:element ref="fdp:config" minOccurs="1" maxOccurs="1"></xsd:element>
			<xsd:element ref="fdp:function" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element ref="fdp:map" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:choice>
		<xsd:attribute name="stepType" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Can be a java type value implementing DocProcessorBasic or a fixed value for 'config', 'map', 'function', 'complex',</xsd:documentation>
				<xsd:documentation>'skipfm' (skip FreeMarkerProcessing)</xsd:documentation>
				<xsd:documentation>'kotlin' (skip FreeMarkerProcessing, and use kotlin script, kts-path must be set, dataModel map can still be used and will be bound to the script)</xsd:documentation>
			</xsd:annotation>		
		</xsd:attribute>
		<xsd:attribute name="map-atts" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Comma separated list of attributes to map or 'map-all' to map all attributes</xsd:documentation>
			</xsd:annotation>		
		</xsd:attribute>
		<xsd:attribute name="map-all" type="xsd:boolean" use="optional">
			<xsd:annotation>
				<xsd:documentation>'true' if all attributes must be mapped. default 'false'.</xsd:documentation>
			</xsd:annotation>		
		</xsd:attribute>
		<xsd:attribute name="template-path" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Free marker template path (relative to template base path provided in 'config' step).</xsd:documentation>
			</xsd:annotation>		
		</xsd:attribute>
		<xsd:attribute name="kts-path" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Kotlin script (KTS) path in classpath (FreeMarker template base is ignored).</xsd:documentation>
				<xsd:documentation>(in 'kotlin' step it is possible to use 'template-path' as an alias for this attribute).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>	

	<xsd:element name='config' type="fdp:configType">
		<xsd:annotation>
			<xsd:documentation>Will creates a new free marker configuration</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name='function' type="fdp:propertyType">
		<xsd:annotation>
			<xsd:documentation>The data of a freemarker function to map (the 'name' attributes will be the key, and a new instance of the 'value' attribute as value)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name='map' type="fdp:propertyType">
		<xsd:annotation>
			<xsd:documentation>An object will be mapped from DocProcessContext to Freemarker Map (the 'name' attributes will be the key, and the 'value' will be used to search in the DocProcessContext attributes)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>		

	<xsd:complexType name="configType">
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The new freemarker configuration ID</xsd:documentation>
			</xsd:annotation>			
		</xsd:attribute>
		<xsd:attribute name="path" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>base freemarker template path</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>
		<xsd:attribute name="version" type="xsd:string" use="optional" default="2.3.31">
			<xsd:annotation>
				<xsd:documentation>freemarker version to use</xsd:documentation>
			</xsd:annotation>						
		</xsd:attribute>
		<xsd:attribute name="mode" type="xsd:string" use="optional" default="class">
			<xsd:annotation>
				<xsd:documentation>The class loading mode</xsd:documentation>
			</xsd:annotation>								
		</xsd:attribute>
		<xsd:attribute name="class" type="xsd:string" use="optional" default="org.fugerit.java.doc.freemarker.process.FreemarkerDocProcessConfig">
			<xsd:annotation>
				<xsd:documentation>This class's classloader will be used</xsd:documentation>
			</xsd:annotation>									
		</xsd:attribute>
		<xsd:attribute name="exception-handler" type="xsd:string" use="optional" default="RETHROW_HANDLER">
			<xsd:annotation>
				<xsd:documentation>Just a referenced to the relevant freemarker configuration</xsd:documentation>
			</xsd:annotation>		
		</xsd:attribute>
		<xsd:attribute name="log-exception" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation>Just a referenced to the relevant freemarker configuration</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>
		<xsd:attribute name="wrap-unchecked-exceptions" type="xsd:boolean" use="optional" default="true">
			<xsd:annotation>
				<xsd:documentation>Just a referenced to the relevant freemarker configuration</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>
		<xsd:attribute name="fallback-on-null-loop-variable" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation>Just a referenced to the relevant freemarker configuration</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>
		<xsd:attribute name="load-bundled-functions" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation>It will load all the default funs with the default name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>	
	
	<xsd:complexType name="propertyType">
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Name map attribute</xsd:documentation>
			</xsd:annotation>				
		</xsd:attribute>
		<xsd:attribute name="value" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Value map attribute</xsd:documentation>
			</xsd:annotation>						
		</xsd:attribute>
	</xsd:complexType>

	<xsd:simpleType name="sourceType">
		<xsd:annotation>
			<xsd:documentation>The source type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="xml"></xsd:enumeration>
			<xsd:enumeration value="json"></xsd:enumeration>
			<xsd:enumeration value="yaml"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
